<%- include('./layouts/imports') -%>

<% console.log(properties.map(ele => 
    ele
)) %> 

<section class="mt-5 mb-5">
    <div class="container">
        <ul class="justify-content-center" uk-tab>
            <li><a class="hammersmithOne" href="#">All properties</a></li>
            <li><a class="hammersmithOne" href="#">Active Properties</a></li>
            <li><a class="hammersmithOne" href="#">Disabled Properties</a></li>
            <li><a class="hammersmithOne" href="#">Customer Saved</a></li>
            <li><a class="hammersmithOne" href="#">Queries</a></li>
        </ul>
        
        <ul class="uk-switcher uk-margin">
            <li>
                <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
                     
                        <div>
                            <div class="uk-card bg-white uk-card-hover rounded-lg uk-card-body border">
                                <p class="h5 text-danger hammersmithOne">2 BHK Apartment for Sale in Mahavir Heights, Roadpali, Navi Mumbai</p> <hr>
                                <p>Price: <span class="text-dark hammersmithOne">Rs 81 Lac</span> | Super built-up Area: <span class="text-dark hammersmithOne">1018 sq. ft</span></p>
                                <p>Status: <span class="text-success font-weight-bold hammersmithOne">Active</span> | Posted on: <span class="text-dark hammersmithOne">02-12-2020</span></p>
                                <p>Address: <span class="text-dark hammersmithOne">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consectetur vero, unde fugiat molestias repellat distinctio exercitationem.</span></p>
                                <a href=""><span class="bg-primary rounded-lg p-1 text-white" uk-icon="icon: pencil; ratio: 1.5"></span></a>
                                <a href=""><span class="bg-dark rounded-lg p-1 text-white" uk-icon="icon: ban; ratio: 1.5"></span></a>
                                <a href=""><span class="bg-danger rounded-lg p-1 text-white" uk-icon="icon: trash; ratio: 1.5"></span></a>
                            </div>
                        </div>
                        
                </div>
            </li>
            <li>
                <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
                    <% var i = 8 %>
                        <% while  (i!=0) {%> 
                    <div>
                        <div class="uk-card bg-white uk-card-hover rounded-lg uk-card-body border">
                            <p class="h5 text-danger hammersmithOne">2 BHK Apartment for Sale in Mahavir Heights, Roadpali, Navi Mumbai</p> <hr>
                            <p>Price: <span class="text-dark hammersmithOne">Rs 81 Lac</span> | Super built-up Area: <span class="text-dark hammersmithOne">1018 sq. ft</span></p>
                            <p>Status: <span class="text-success font-weight-bold hammersmithOne">Active</span> | Posted on: <span class="text-dark hammersmithOne">02-12-2020</span></p>
                            <p>Address: <span class="text-dark hammersmithOne">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consectetur vero, unde fugiat molestias repellat distinctio exercitationem.</span></p>
                            <a href=""><span class="bg-primary rounded-lg p-1 text-white" uk-icon="icon: pencil; ratio: 1.5"></span></a>
                            <a href=""><span class="bg-dark rounded-lg p-1 text-white" uk-icon="icon: ban; ratio: 1.5"></span></a>
                            <a href=""><span class="bg-danger rounded-lg p-1 text-white" uk-icon="icon: trash; ratio: 1.5"></span></a>
                        </div>
                    </div>
                        <% i = i-1 %> 
                    <% } %> 
                </div>
            </li>
            <li>
                <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
                    <% var i = 8 %>
                        <% while  (i!=0) {%> 
                    <div>
                        <div class="uk-card bg-white uk-card-hover rounded-lg uk-card-body border">
                            <p class="h5 text-danger hammersmithOne">2 BHK Apartment for Sale in Mahavir Heights, Roadpali, Navi Mumbai</p> <hr>
                            <p>Price: <span class="text-dark hammersmithOne">Rs 81 Lac</span> | Super built-up Area: <span class="text-dark hammersmithOne">1018 sq. ft</span></p>
                            <p>Status: <span class="text-muted font-weight-bold hammersmithOne">Disabled</span> | Posted on: <span class="text-dark hammersmithOne">02-12-2020</span></p>
                            <p>Address: <span class="text-dark hammersmithOne">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam consectetur vero, unde fugiat molestias repellat distinctio exercitationem.</span></p>
                            <a href=""><span class="bg-primary rounded-lg p-1 text-white" uk-icon="icon: pencil; ratio: 1.5"></span></a>
                            <a href=""><span class="bg-dark rounded-lg p-1 text-white" uk-icon="icon: ban; ratio: 1.5"></span></a>
                            <a href=""><span class="bg-danger rounded-lg p-1 text-white" uk-icon="icon: trash; ratio: 1.5"></span></a>
                        </div>
                    </div>
                        <% i = i-1 %> 
                    <% } %> 
                </div>
            </li>
            <li>
                <div class="uk-margin">
                    <form class="uk-search uk-search-default w-75 uk-align-center">
                        <span uk-search-icon></span>
                        <input class="uk-search-input" type="search" placeholder="Search...">
                    </form>
                </div>
            </li>
            <li>
                <div class="uk-child-width-1-2@s" uk-grid>
                    <div>
                        <div class="text-center"><span class="h1 hammersmithOne">50</span><br>Solved</div>
                    </div>
                    <div>
                        <div class="text-center"><span class="h1 hammersmithOne">50</span><br>Current</div>
                    </div>
                </div>
                <div class="uk-child-width-1-2@s" uk-grid>
                <% enquiries.forEach(ele => { %> 
                    <div>
                        <div class="bg-white uk-card uk-card-hover p-3 rounded-lg h-100">
                            <div class="uk-child-width-1-2" uk-grid>
                                <div>
                                    <p class="h4 hammersmithOne"><%= ele.name %></p>
                                    <div class="small">Posted on: <span class="hammersmithOne"><%= ele.createdAt %></span></div>
                                </div>
                                <div>
                                    <p class="text-right">
                                        <a href="" class="bg-success p-1 text-white text-decoration-none rounded-lg"><span uk-icon="icon: check"></span></a>
                                    </p>
                                </div>
                            </div>
                            <p class=""><%= ele.message %> </p>
                            <p class="font-weight-bold"><span class="bg-danger p-2 text-white rounded-pill">+91 <%= ele.contactno %></span></p>
                        </div>
                    </div>
                <% }) %>   
                </div>
            </li>
        </ul>
    </div>
</section>

<%- include('./layouts/Footer') -%>
