<!DOCTYPE html>
<html lang="en">

<head>
  <title>Santosh Property - Roadpali | Kalamboli | Kharghar</title>
<%- include('./layouts/imports') -%>

<!-- header -->
<header class="header-bg">
    <div class="content-bg">
        <div class="container">
          <h1 class="text-center display-2 text-warning hammersmithOne mb-0"><strong>Santosh Property</strong></h1>
          <h1 class="text-center text-primary hammersmithOne pt-0 mt-0"><strong><small>Roadpali | Kalamboli | Kharghar</small></strong></h1>
          <div class="w-100">
            <ul class="uk-subnav uk-subnav-pill justify-content-center" uk-switcher>
              <li><a class="text-light hammersmithOne" href="">Buy</a></li>
              <li><a class="text-light hammersmithOne" href="">Rent</a></li>
              <li><a class="text-light hammersmithOne" href="">Commercials</a></li>
            </ul>

            <ul class="uk-switcher uk-margin">
              <li>
                <div class="uk-align-center rounded-lg p-4 " style="background-color: rgba(0,0,0,0.6);">
                  <form action="/search" method="GET">
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3 uk-inline-clip">
                      <label class="text-warning">Location</label>
                      <select class="uk-select bg-transparent text-light" name="locality" id="form-stacked-select">
                        <option class="text-dark" value="">Select</option>
                        <option class="text-dark" value="Roadpali">Roadpali</option>
                        <option class="text-dark" value="Kalamboli">Kalamboli</option>
                        <option class="text-dark" value="kharghar">Kharghar</option>
                      </select>
                      <input type="hidden" name="propertyfor" value="Sale"> 
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                      <label class="text-warning">Status</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select" name="status">
                        <option value="">Select</option>
                        <option value="Ready to Move">Ready to Move</option>
                        <option value="Under Construction">Under Construction</option>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                      <label class="text-warning">Property Type</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select" name="propertytype">
                        <option value="">Select</option>
                        <optgroup class="text-dark" label="Residental">
                          <option value="Flat/Apartment"> Flat/Apartment </option>
                          <option value="Residential House"> Residential House </option>
                          <option value="Villa"> Villa </option>
                          <option value="Builder Floor Apartment">Builder Floor Apartment </option>
                          <option value="Penthouse"> Penthouse </option>
                          <option value="Studio Apartment"> Studio Apartment </option>
                        </optgroup>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3 uk-inline-clip">
                      <label class="text-warning">Bedroom</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select" name="bedrooms">
                        <option class="text-dark" value="">Select</option>
                        <option class="text-dark" value="1">1 BHK</option>
                        <option class="text-dark" value="2">2 BHK</option>
                        <option class="text-dark" value="3">3 BHK</option>
                        <option class="text-dark" value="more than 3">more than 3 BHK</option>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                      <label for="exampleFormControlSelect1" class="text-warning">Budget</label>
                      <select class="uk-select bg-transparent text-light" id="form-stacked-select" name="price">
                        <option class="text-dark" value="">Select</option> 
                        <option class="text-dark" value="5 Lac - 10 Lac">5 Lac - 10 Lac</option> 
                        <option class="text-dark" value="10 Lac - 20 Lac">10 Lac - 20 Lac</option>
                        <option class="text-dark" value="20 Lac - 30 Lac">20 Lac - 30 Lac</option>
                        <option class="text-dark" value="30 Lac - 40 Lac">30 Lac - 40 Lac</option>
                        <option class="text-dark" value="40 Lac - 50 Lac">40 Lac - 50 Lac</option>
                        <option class="text-dark" value="50 Lac - 60 Lac">50 Lac - 60 Lac</option>
                        <option class="text-dark" value="60 Lac - 70 Lac">60 Lac - 70 Lac</option>
                        <option class="text-dark" value="70 Lac - 80 Lac">70 Lac - 80 Lac</option>
                        <option class="text-dark" value="80 Lac - 90 Lac">80 Lac - 90 Lac</option>
                        <option class="text-dark" value="90 Lac - 1 Cr">90 Lac - 1 Cr</option>
                        <option class="text-dark" value="1 Cr - 1.5 Cr">1 Cr - 1.5 Cr</option>
                        <option class="text-dark" value="1.5 Cr - 2 Cr">1.5 Cr - 2 Cr</option>
                        <option class="text-dark" value="2 Cr - 2.5 Cr">2 Cr - 2.5 Cr</option>
                        <option class="text-dark" value="2.5 Cr - 3 Cr">2.5 Cr - 3 Cr</option>
                        <option class="text-dark" value="3 Cr - 3.5 Cr">3 Cr - 3.5 Cr</option>
                        <option class="text-dark" value="3.5 Cr - 4 Cr">3.5 Cr - 4 Cr</option>
                      </select>
                    </div>
                    <button class="btn btn-danger uk-width-auto@s uk-width-1-1 ml-sm-3"><span class="p-1" uk-icon="search"></span></button>
                  </form>
                </div>
              </li>
              <li>
                <div class="uk-align-center rounded-lg p-4 " style="background-color: rgba(0,0,0,0.6);">
                  <form action="/search" method="GET">
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3 uk-inline-clip">
                      <label class="text-warning">Location</label>
                      <select class="uk-select bg-transparent text-light" name="locality" id="form-stacked-select">
                        <option value="">Select</option>
                        <option class="text-dark" value="Roadpali">Roadpali</option>
                        <option class="text-dark" value="Kalamboli">Kalamboli</option>
                        <option class="text-dark" value="kharghar">Kharghar</option>
                      </select>
                    </div>
                    <input type="hidden" name="propertyfor" value="Rent/Lease">
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                      <label class="text-warning">Property Type</label>
                      <select class="uk-select bg-transparent text-light" name="propertytype" id="form-stacked-select">
                        <option value="">Select</option>
                        <optgroup class="text-dark" label="Residental">
                          <option value="Flat/Apartment"> Flat/Apartment </option>
                          <option value="Residential House"> Residential House </option>
                          <option value="Villa"> Villa </option>
                          <option value="Builder Floor Apartment">Builder Floor Apartment </option>
                          <option value="Penthouse"> Penthouse </option>
                          <option value="Studio Apartment"> Studio Apartment </option>
                        </optgroup>
                        <optgroup class="text-dark" label="Others">
                          <option value="Land"> Land </option>
                          <option value="Farm House"> Farm House </option>
                        </optgroup>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3 uk-inline-clip">
                      <label class="text-warning">Bedroom</label>
                      <select class="uk-select bg-transparent text-light" name="bedrooms" id="form-stacked-select">
                        <option value="">Select</option>
                        <option class="text-dark" value="1">1 BHK</option>
                        <option class="text-dark" value="2">2 BHK</option>
                        <option class="text-dark" value="3">3 BHK</option>
                        <option class="text-dark" value="more than 3">more than 3 BHK</option>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                      <label for="exampleFormControlSelect1" class="text-warning">Budget</label>
                      <select class="uk-select bg-transparent text-light" name="price" id="form-stacked-select">
                        <option value="">Select</option>
                        <option class="text-dark" value="1000 - 5000">1000 - 5000</option> 
                        <option class="text-dark" value="5000 - 10000">5000 - 10000</option>
                        <option class="text-dark" value="10000 - 15000">10000 - 15000</option>
                        <option class="text-dark" value="15000 - 20000">15000 - 20000</option>
                        <option class="text-dark" value="20000 - 25000">20000 - 25000</option>
                        <option class="text-dark" value="25000 - 30000">25000 - 30000</option>
                        <option class="text-dark" value="30000 - 40000">30000 - 40000</option>
                        <option class="text-dark" value="40000 - 50000">40000 - 50000</option>
                        <option class="text-dark" value="50000 - 60000">50000 - 60000</option>
                        <option class="text-dark" value="60000 - 70000">60000 - 70000</option>
                        <option class="text-dark" value="70000 - 80000">70000 - 80000</option>
                        <option class="text-dark" value="80000 +">80000 +</option>
                      </select>
                    </div>
                  <button class="btn btn-danger uk-width-auto@s uk-width-1-1 ml-sm-3"><span class="p-1" uk-icon="search"></span></button>
                </form>
                </div>
              </li>
              <li>
                <div class="uk-align-center rounded-lg p-4 " style="background-color: rgba(0,0,0,0.6);">
                <form action="/searchcommercial" method="GET">
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3 uk-inline-clip">
                      <label class="text-warning">Buy / Rent</label>
                      <select class="uk-select bg-transparent text-light" onchange="PropertyFor()" name="propertyfor" id="propertyfor">
                        <option class="text-dark" value="">Select</option>
                        <option class="text-dark" value="Sale">Buy</option>
                        <option class="text-dark" value="Rent/Lease">Rent</option>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3 uk-inline-clip">
                      <label class="text-warning">Location</label>
                      <select class="uk-select bg-transparent text-light" name="location" id="form-stacked-select">
                        <option value="">Select</option>
                        <option class="text-dark" value="Roadpali">Roadpali</option>
                        <option class="text-dark" value="Kalamboli">Kalamboli</option>
                        <option class="text-dark" value="kharghar">Kharghar</option>
                      </select>
                    </div>
                    <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                      <label class="text-warning">Status</label>
                      <select class="uk-select bg-transparent text-light" name="status" id="form-stacked-select">
                        <option value="">Select</option>
                        <option value="Ready to move">Ready to move</option>
                        <option value="Under construction">Under construction</option>
                      </select>
                    </div>
                <div class="form-group uk-width-1-6@m uk-width-1-3@s ml-sm-3  uk-inline-clip">
                  <div id="saleBudget" class="">
                      <label for="exampleFormControlSelect1" class="text-warning">Budget</label>
                      <select class="uk-select bg-transparent text-white" name="price" id="salePrice">
                          <option value="">Select</option>
                          <option class="text-dark" value="5 Lac - 10 Lac">5 Lac - 10 Lac</option>
                          <option class="text-dark" value="10 Lac - 20 Lac">10 Lac - 20 Lac</option>
                          <option class="text-dark" value="20 Lac - 30 Lac">20 Lac - 30 Lac</option>
                          <option class="text-dark" value="30 Lac - 40 Lac">30 Lac - 40 Lac</option>
                          <option class="text-dark" value="40 Lac - 50 Lac">40 Lac - 50 Lac</option>
                          <option class="text-dark" value="50 Lac - 60 Lac">50 Lac - 60 Lac</option>
                          <option class="text-dark" value="60 Lac - 70 Lac">60 Lac - 70 Lac</option>
                          <option class="text-dark" value="70 Lac - 80 Lac">70 Lac - 80 Lac</option>
                          <option class="text-dark" value="80 Lac - 90 Lac">80 Lac - 90 Lac</option>
                          <option class="text-dark" value="90 Lac - 1 Cr">90 Lac - 1 Cr</option>
                          <option class="text-dark" value="1 Cr - 1.5 Cr">1 Cr - 1.5 Cr</option>
                          <option class="text-dark" value="1.5 Cr - 2 Cr">1.5 Cr - 2 Cr</option>
                          <option class="text-dark" value="2 Cr - 2.5 Cr">2 Cr - 2.5 Cr</option>
                          <option class="text-dark" value="2.5 Cr - 3 Cr">2.5 Cr - 3 Cr</option>
                          <option class="text-dark" value="3 Cr - 3.5 Cr">3 Cr - 3.5 Cr</option>
                          <option class="text-dark" value="3.5 Cr - 4 Cr">3.5 Cr - 4 Cr</option>
                      </select>
                    </div>
                    
                    <div id="rentBudget" class="d-none">
                        <label for="exampleFormControlSelect1" class="text-warning">Budget</label>
                        <select class="uk-select bg-transparent text-white"
                        id="rentPrice">
                        <option value="">Select</option>
                        <option class="text-dark" value="1000 - 5000">1000 - 5000</option>
                            <option class="text-dark" value="5000 - 10000">5000 - 10000</option>
                            <option class="text-dark" value="10000 - 15000">10000 - 15000</option>
                            <option class="text-dark" value="15000 - 20000">15000 - 20000</option>
                            <option class="text-dark" value="20000 - 25000">20000 - 25000</option>
                            <option class="text-dark" value="25000 - 30000">25000 - 30000</option>
                            <option class="text-dark" value="30000 - 40000">30000 - 40000</option>
                            <option class="text-dark" value="40000 - 50000">40000 - 50000</option>
                            <option class="text-dark" value="50000 - 60000">50000 - 60000</option>
                            <option class="text-dark" value="60000 - 70000">60000 - 70000</option>
                            <option class="text-dark" value="70000 - 80000">70000 - 80000</option>
                            <option class="text-dark" value="80000 +">80000 +</option>
                          </select>   
                      </div>
                      
                    </div>
                  <button class="btn btn-danger uk-width-auto@s uk-width-1-1 ml-sm-3"><span class="p-1" uk-icon="search"></span></button>
                </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
    </div>
</header>

<!-- Property gallery -->

<!-- Sales -->
<section class="mt-5 mb-5 p-3">
  <div class="container">
      <h3 class="text-center hammersmithOne">Buy Properties</h3> 
      <div class="uk-slider-container-offset" uk-slider="finite: true">
  
          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
      
              <ul class="uk-slider-items uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1 uk-grid text-dark">
                  <% saleproperties.forEach(ele => { %> 
                  <li>
                      <div class="card h-100 shadow uk-transition-toggle" tabindex="0">
                        <div class="overflow-hidden h-50">
                          <img src="<%= ele.image %>" class="card-img-top uk-transition-scale-up uk-transition-opaque h-100" alt="...">
                        </div>
                        <div class="h-50">
                          <div class="card-body">
                            <a href="./property?type=residential&id=<%= ele.id %> " class="card-title text-danger h6 hammersmithOne"><%= ele.title %> </a>
                            <p class="card-text">
                              <div class="uk-child-width-auto" uk-grid>
                                <div>
                                  Status: <span class="hammersmithOne"><%= ele.status %></span> 
                                </div>
                                <div class="m-0">
                                  <div>Furnishing: <span class="hammersmithOne"><%= ele.furnishing %></span></div>
                                </div>
                              </div>
                            </p>
                            <p class="card-text"><span class="bg-success p-2 shadow rounded-pill text-white hammersmithOne">₹ <%= ele.price %></span></p>
                          </div>
                          <div class="card-footer bg-white text-center">
                            <div class="uk-child-width-1-3 small" uk-grid>
                              <div class="hammersmithOne"><%= ele.bedroom %></div>
                              <div class="hammersmithOne"><%= ele.bathroom %></div>
                              <div class="hammersmithOne"><%= ele.area %> Sqft</div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </li>
                  <% }) %>
                  <li>
                      <div class="d-flex justify-content-center align-items-center h-100 bg-light">
                          <a href="/search?propertyfor=Sale">
                              <div class="text-white bg-danger p-2 pl-3 pr-3 rounded-pill h5">view more  <span class="bg-white text-danger rounded-circle" uk-icon="icon: arrow-right; ratio: 1.5"></span></div>
                          </a>
                      </div>
                  </li>
              </ul>
                  
              <a class="uk-position-center-left uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
              <a class="uk-position-center-right uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-next uk-slider-item="next"></a>
      
          </div>
          <br>
          <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      
      </div>
  </div>
</section>

<!-- Rent -->
<section class="mt-5 mb-5 p-3">
  <div class="container">
      <h3 class="text-center hammersmithOne">Rent Properties</h3> 
      <div class="uk-slider-container-offset" uk-slider="finite: true">
  
          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
      
              <ul class="uk-slider-items uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1 uk-grid text-dark">
                  <% rentproperties.forEach(ele => { %> 
                  <li>
                      <div class="card h-100 shadow uk-transition-toggle" tabindex="0">
                        <div class="overflow-hidden h-50">
                          <img src="<%= ele.image %>" class="card-img-top uk-transition-scale-up uk-transition-opaque h-100" alt="...">
                        </div>
                        <div class="h-50">
                          <div class="card-body">
                            <a href="./property?type=residential&id=<%= ele.id %> " class="card-title text-danger h6 hammersmithOne"><%= ele.title %> </a>
                            <p class="card-text">
                              <div class="uk-child-width-auto" uk-grid>
                                <div>
                                  Status: <span class="hammersmithOne"><%= ele.status %></span> 
                                </div>
                                <div class="m-0">
                                  <div>Furnishing: <span class="hammersmithOne"><%= ele.furnishing %></span></div>
                                </div>
                              </div>
                            </p>
                            <p class="card-text"><span class="bg-success p-2 shadow rounded-pill text-white hammersmithOne">₹ <%= ele.price %></span></p>
                          </div>
                          <div class="card-footer bg-white text-center">
                            <div class="uk-child-width-1-3 small" uk-grid>
                              <div class="hammersmithOne"><%= ele.bedroom %></div>
                              <div class="hammersmithOne"><%= ele.bathroom %></div>
                              <div class="hammersmithOne"><%= ele.area %> Sqft</div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </li>
                  <% }) %>
                  <li>
                      <div class="d-flex justify-content-center align-items-center h-100 bg-light">
                          <a href="/search?propertyfor=Rent%2FLease">
                            <div class="text-white bg-danger p-2 pl-3 pr-3 rounded-pill h5">view more  <span class="bg-white text-danger rounded-circle" uk-icon="icon: arrow-right; ratio: 1.5"></span></div>
                          </a>
                      </div>
                  </li>
              </ul>
                  
              <a class="uk-position-center-left uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
              <a class="uk-position-center-right uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-next uk-slider-item="next"></a>
      
          </div>
          <br>
          <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      
      </div>
  </div>
</section>

<!-- Buy Commercial -->
<section class="mt-5 mb-5 p-3">
  <div class="container">
      <h3 class="text-center hammersmithOne">Buy Commercial</h3> 
      <div class="uk-slider-container-offset" uk-slider="finite: true">
  
          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
      
              <ul class="uk-slider-items uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1 uk-grid text-dark">
                  <% salecommercial.forEach(ele => { %> 
                  <% //console.log(salecommercial) %>  
                  <li>
                      <div class="card h-100 shadow uk-transition-toggle" tabindex="0">
                        <div class="overflow-hidden h-50">
                          <img src="<%= ele.image %>" class="card-img-top uk-transition-scale-up uk-transition-opaque h-100" alt="...">
                        </div>
                        <div class="h-50">
                          <div class="card-body">
                            <a href="/property?type=commercial&id=<%= ele.id %> " class="card-title text-danger h6 hammersmithOne"><%= ele.title %> </a>
                            <p class="card-text">
                              <div class="uk-child-width-auto" uk-grid>
                                <div>
                                  Status: <span class="hammersmithOne"><%= ele.status %></span> 
                                </div>
                                <div class="m-0">
                                  <div>Area: <span class="hammersmithOne"><%= ele.area %> Sqft</span></div>
                                </div>
                              </div>
                            </p>
                            <p class="card-text"><span class="bg-success p-2 shadow rounded-pill text-white hammersmithOne">₹ <%= ele.price %></span></p> <br>
                          </div>
                        </div>
                      </div>
                  </li>
                  <% }) %>
                  <li>
                      <div class="d-flex justify-content-center align-items-center h-100 bg-light">
                          <a href="/searchcommercial?propertyfor=Sale">
                            <div class="text-white bg-danger p-2 pl-3 pr-3 rounded-pill h5">view more  <span class="bg-white text-danger rounded-circle" uk-icon="icon: arrow-right; ratio: 1.5"></span></div>
                          </a>
                      </div>
                  </li>
              </ul>
                  
              <a class="uk-position-center-left uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
              <a class="uk-position-center-right uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-next uk-slider-item="next"></a>
      
          </div>
          <br>
          <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      
      </div>
  </div>
</section>

<!-- Rent Commercial -->
<section class="mt-5 mb-5 p-3">
  <div class="container">
      <h3 class="text-center hammersmithOne">Rent Commercial</h3> 
      <div class="uk-slider-container-offset" uk-slider="finite: true">
  
          <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
      
              <ul class="uk-slider-items uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1 uk-grid text-dark">
                  <% rentcommercial.forEach(ele => { %> 
                  <li>
                      <div class="card h-100 shadow uk-transition-toggle" tabindex="0">
                        <div class="overflow-hidden h-50">
                          <img src="<%= ele.image %>" class="card-img-top uk-transition-scale-up uk-transition-opaque h-100" alt="...">
                        </div>
                        <div class="h-50">
                          <div class="card-body">
                            <a href="/property?type=commercial&id=<%= ele.id %>" class="card-title text-danger h6 hammersmithOne"><%= ele.title %> </a>
                            <p class="card-text">
                              <div class="uk-child-width-auto" uk-grid>
                                <div>
                                  Status: <span class="hammersmithOne"><%= ele.status %></span> 
                                </div>
                                <div class="m-0">
                                  <div>Area: <span class="hammersmithOne"><%= ele.area %> Sqft</span></div>
                                </div>
                              </div>
                            <p class="card-text"><span class="bg-success p-2 shadow rounded-pill text-white hammersmithOne">₹ <%= ele.price %></span></p> <br>
                          </div>
                        </div>
                      </div>
                  </li>
                  <% }) %>
                  <li>
                      <div class="d-flex justify-content-center align-items-center h-100 bg-light">
                          <a href="/searchcommercial?propertyfor=Rent/Lease">
                            <div class="text-white bg-danger p-2 pl-3 pr-3 rounded-pill h5">view more  <span class="bg-white text-danger rounded-circle" uk-icon="icon: arrow-right; ratio: 1.5"></span></div>
                          </a>
                      </div>
                  </li>
              </ul>
                  
              <a class="uk-position-center-left uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
              <a class="uk-position-center-right uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-next uk-slider-item="next"></a>
      
          </div>
          <br>
          <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      
      </div>
  </div>
</section>

<script>
  function PropertyFor(){
if(document.getElementById("propertyfor").value == "Sale"){
  if(document.getElementById("saleBudget").classList.contains("d-none")){
        document.getElementById("saleBudget").classList.remove("d-none")
        document.getElementById("salePrice").setAttribute("name","price")
    }
   if(!document.getElementById("rentBudget").classList.contains("d-none")){
        document.getElementById("rentBudget").classList.add("d-none")
        document.getElementById("rentPrice").removeAttribute("name")
    }
}else if(document.getElementById("propertyfor").value == "Rent/Lease"){
  if(document.getElementById("rentBudget").classList.contains("d-none")){
        document.getElementById("rentBudget").classList.remove("d-none")
         document.getElementById("rentPrice").setAttribute("name","price")
    }
     if(!document.getElementById("saleBudget").classList.contains("d-none")){
        document.getElementById("saleBudget").classList.add("d-none")
        document.getElementById("salePrice").removeAttribute("name")
    }
    
}
    
  }
</script>

<%- include('./layouts/Footer') -%>