<%- include('./layouts/imports') %> 
<% console.log(property) %>
<section class="bg-dark">
    <div class="container">
        <div class="pt-5 pb-5 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-md-6 col-12">
                    <h2 class="text-warning hammersmithOne">Comfortable Apartment in Palace</h2>
                    <span class="text-white" uk-icon="icon: location"></span><span class="text-white"> 200/A, Greenland, Texaro, USA</span> <br> <br>
                    <a href="#">
                        <h4 class="btn btn-danger rounded-pill pl-5 pr-5 font-weight-bold">Contact</h4>
                    </a>
                    <a href="#">
                        <h4 class="btn btn-outline-danger rounded-pill pl-5 pr-5 font-weight-bold">Save</h4>
                    </a>
                </div>
                <div class="col-md-6 col-12">
                    <h2 class="text-warning font-weight-bold uk-hidden@s">₹ 4000</h2>
                    <h2 class="text-warning text-right font-weight-bold uk-visible@s">₹ 4000</h2>
                </div>
            </div>
            <div class="p-3 uk-align-center">
                <div class="uk-child-width-1-4@m uk-child-width-1-3 text-center" uk-grid>
                    <div>
                        <div class="text-warning">Bedroom</div>
                        <div class="text-white"><%= property.propertyFeatures.bedrooms %></div>
                    </div>
                    <div>
                        <div class="text-warning">Bathroom</div>
                        <div class="text-white"><%= property.propertyFeatures.bathroom %></div>
                    </div>
                    <div>
                        <div class="text-warning">Balcony</div>
                        <div class="text-white"><%= property.propertyFeatures.balconies %></div>
                    </div>
                    <div>
                        <div class="text-warning">Flats on Floor</div>
                        <div class="text-white"><%= property.propertyFeatures.flatsOnFloor %></div>
                    </div>
                    <div>
                        <div class="text-warning">Furnished</div>
                        <div class="text-white"><%= property.propertyFeatures.furnishingStatus %></div>
                    </div>
                    <div>
                        <div class="text-warning">Floor No</div>
                        <div class="text-white"><%= property.propertyFeatures.floorNo %> of <%= property.propertyFeatures.totalFloors %></div>
                    </div>
                    <div>
                        <div class="text-warning">Status</div>
                        <div class="text-white"><%= property.priceDetails.possessionStatus %></div>
                    </div>
                    <div>
                        <div class="text-warning">Carpet Area</div>
                        <div class="text-white"><%= property.propertyFeatures.carpetArea %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 mb-5">
    <div class="container">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="min-height: 300; max-height: 600; animation: push">

            <ul class="uk-slideshow-items">
                <li>
                    <img src="https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" uk-cover>
                </li>
                <li>
                    <img src="https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" uk-cover>
                </li>
                <li>
                    <img src="https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" uk-cover>
                </li>
            </ul>
        
            <a class="bg-light text-dark rounded-circle uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="bg-light text-dark rounded-circle uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        
        </div>
    </div>
</section>

<section class="mt-5 mb-5">
    <div class="container">
        <div>
            <h1 class="hammersmithOne text-center font-weight-bold">About Property</h1>
            <hr class="hr-custom uk-align-center"> 
            <div class="uk-width-4-5@s uk-align-center">
                <p>This 2 bhk flat for sale in Neelsidhi Amarante. It is well ventilated flat as well as well maintained flat also society.It is very spacious flat. Located at well developed area ,Its best for Investment and personal use also.</p> <hr>
                <div>
                    <div class="text-danger">Address</div>
                    <div><%= property.address %></div>
                </div>  <hr>
                <div class="text-danger">Facilities</div>
                <div>Power Back Up, Lift, Club House, Swimming Pool, Gymnasium, Park, Reserved Parking, Security, Water Storage, Vaastu Compliant, Service/Goods Lift, Visitor Parking, Intercom Facility, Maintenance Staff, Waste Disposal, Internet/Wi-Fi Connectivity, DTH Television Facility, Banquet Hall, Jogging and Strolling Track</div> <hr>
                <div class="uk-child-width-1-3@s uk-child-width-1-2 text-center" uk-grid>
                    <div>
                        <div class="text-danger">Price Breakup</div>
                        <div>₹ 77.0 Lac | ₹ 3,85,000 Approx. | Registration Charges | ₹ 3,000 Monthly</div>
                    </div>
                    <div>
                        <div class="text-danger">Booking Amount</div>
                        <div>₹ 1.0 Lac</div>
                    </div>
                    <div>
                        <div class="text-danger">Landmarks</div>
                        <div>near by d,mart, market,school,etc</div>
                    </div>
                    <div>
                        <div class="text-danger">Overlooking</div>
                        <div>Garden/Park, Pool</div>
                    </div>
                    <div>
                        <div class="text-danger">Flooring</div>
                        <div>Vitrified</div>
                    </div>
                    <div>
                        <div class="text-danger">Water Availability</div>
                        <div>24 Hours Available</div>
                    </div>
                    <div>
                        <div class="text-danger">Status of Electricity</div>
                        <div>No/Rare Powercut</div>
                    </div>
                    <div>
                        <div class="text-danger">Lift</div>
                        <div>2</div>
                    </div>
                    <div>
                        <div class="text-danger">Age of Construction</div>
                        <div>Less than 5 years</div>
                    </div>
                    <div>
                        <div class="text-danger">Authority Approval</div>
                        <div>City and Industrial Development Corporation - Navi Mumbai</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 mb-5 p-3">
    <div class="container-fluid">
        <h3 class="text-center hammersmithOne">Similar Properties</h3> 
        <div class="uk-slider-container-offset" uk-slider="finite: true">
    
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
        
                <ul class="uk-slider-items uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-grid text-dark">
                    <% var i = 9 %> 
                    <% while  (i!=0) {%> 
                    <li>
                        <div class="card h-100 shadow p-2">
                            <img src="https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
                            <div class="card-body">
                              <a href="./property-detail" class="card-title text-danger h4 hammersmithOne">Card title</a>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </li>
                    <% i = i-1 %> 
                    <% } %>
                    <li>
                        <div class="d-flex justify-content-center align-items-center h-100 bg-light">
                            <a href="">
                                <div class="text-danger">view more <span uk-icon="icon: arrow-right"></span></div>
                            </a>
                        </div>
                    </li>
                </ul>
                    
                <a class="uk-position-center-left uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
            </div>
        
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        
        </div>
    </div>
</section>

<section class="mt-5 mb-5 p-3">
    <div class="container-fluid">
        <h3 class="text-center hammersmithOne">More properties from Kalamboli</h3> 

        <div class="uk-slider-container-offset" uk-slider="finite: true">
    
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
        
                <ul class="uk-slider-items uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-grid text-dark">
                    <% var i = 9 %> 
                    <% while  (i!=0) {%> 
                    <li>
                        <div class="card h-100 shadow p-2">
                            <img src="https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
                            <div class="card-body">
                              <a href="./property-detail" class="card-title text-danger h4 hammersmithOne">Card title</a>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </li>
                    <% i = i-1 %> 
                    <% } %>
                    <li>
                        <div class="d-flex justify-content-center align-items-center h-100 bg-light">
                            <a href="">
                                <div class="text-danger">view more <span uk-icon="icon: arrow-right"></span></div>
                            </a>
                        </div>
                    </li>
                </ul>
                    
                <a class="uk-position-center-left uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
            </div>
        
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        
        </div>
    </div>
</section>

<%- include('./layouts/Footer') %> 
