<!DOCTYPE html>
<html lang="en">

<head>
  <title>Santosh Property - Property Details</title>
  <link href="https://santoshproperty.in/property" rel="canonical" />
<%- include('./layouts/imports') %> 
<section class="bg-dark">
    <div class="container">
        <div class="pt-5 pb-5 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-md-6 col-12">
                    <h3 class="text-warning hammersmithOne"><%= property.name %></h3>
                    <span class="text-white" uk-icon="icon: location"></span> 
                    <span class="text-white"><%= property.locality %> </span> 
                    <br> <br>
                    <a href="#">
                        <h4 class="btn btn-danger rounded-pill pl-5 pr-5 font-weight-bold">Contact</h4>
                    </a>
                    <% if(req.isAuthenticated()){ %>
                    <% if(!issaved){ %>
                    <a href="/user/addsaved?propertyid=<%= savedetails.propertyid %>&propertytype=<%= savedetails.propertytype %>">
                        <h4 class="btn btn-outline-danger rounded-pill pl-5 pr-5 font-weight-bold">Save</h4>
                    </a>
                    <%}%>
                    <% if(issaved){ %>
                        <a href="/user/removesaved?propertyid=<%= savedetails.propertyid %>&propertytype=<%= savedetails.propertytype %>">
                            <h4 class="btn btn-outline-danger rounded-pill pl-5 pr-5 font-weight-bold">Remove</h4>
                        </a>
                    <%}}%>
                </div>
                <div class="col-md-6 col-12">
                    <% if (property.priceDetails.expectedPrice) { %> 
                    <h3 class="text-warning txt-center font-weight-bold uk-hidden@s">₹ <%= property.priceDetails.expectedPrice %></h3>
                    <h3 class="text-warning text-right font-weight-bold uk-visible@s">₹ <%= property.priceDetails.expectedPrice %></h3>
                    <% } else if (property.priceDetails.expectedRent) { %>
                        <div class="text-warning text-center font-weight-bold uk-hidden@s"><span class="h3 hammersmithOne">₹ <%= property.priceDetails.expectedRent %></span><br><span class="small text-white">per month</span></div>
                        <div class="text-warning text-right font-weight-bold uk-visible@s"><span class="h3 hammersmithOne">₹ <%= property.priceDetails.expectedRent %></span><br><span class="small text-white">per month</span></div>
                    <% } %> 
                </div>
            </div>
            <div class="p-3 uk-align-center m-0">
                <div class="uk-child-width-1-4@m uk-child-width-1-3" uk-grid>
                    <div>
                        <div class="text-warning">Bedroom</div>
                        <div class="text-white"><%= property.propertyFeatures.bedrooms %> </div>
                    </div>
                    <div>
                        <div class="text-warning">Bathroom</div>
                        <div class="text-white"><%= property.propertyFeatures.bathroom %></div>
                    </div>
                    <div>
                        <div class="text-warning">Balcony</div>
                        <div class="text-white"><%= property.propertyFeatures.balconies %></div>
                    </div>
                    <div>
                        <div class="text-warning">Property for</div>
                        <div class="text-white text-capitalize"><%= property.propertyFor %> </div>
                    </div>
                    <div>
                        <div class="text-warning">Furnished</div>
                        <div class="text-white"><%= property.propertyFeatures.furnishingStatus %></div>
                    </div>
                    <div>
                        <div class="text-warning">Floor</div>
                        <div class="text-white"><%= property.propertyFeatures.floorNo %>th of <%= property.propertyFeatures.totalFloors %> floor</div>
                    </div>
                    <% if(property.priceDetails.possessionStatus) { %> 
                    <div>
                        <div class="text-warning">Status</div>
                        <div class="text-white"><%= property.priceDetails.possessionStatus %></div>
                    </div>
                    <% } %> 
                    <% if (property.priceDetails.avaliableFrom) { %> 
                        <!-- <div> -->
                            <% //console.log(property.priceDetails.avaliableFrom) %> 
                        <!-- </div> -->
                    <% } %>     
                    <div>
                        <div class="text-warning">Facing</div>
                        <div class="text-white"><%= property.additionalFeatures.facing %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 mb-5">
    <div class="container">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="min-height: 300; max-height: 600; animation: push">

            <ul class="uk-slideshow-items">
                <% property.Images.images.forEach(ele => { %> 
                <li>
                    <img src="<%= ele %>" alt="" uk-cover>
                </li>
                <% }) %> 
            </ul>
        
            <a class="bg-light text-dark rounded-circle uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="bg-light text-dark rounded-circle uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        
        </div>
    </div>
</section>

<section class="mt-5 mb-5">
    <div class="container">
        <div>
            <div class="uk-width-4-5@s uk-align-center">
                <div class="bg-white p-3 rounded-lg shadow-sm hammersmithOne">
                    <div class="text- mb-4 hammersmithOne h5"><img width="25px" class="image-fluid" src="https://www.flaticon.com/svg/static/icons/svg/846/846551.svg" alt=""> Property</div>
                    <div>
                        <div class="text-danger">Address</div>
                        <div><%= property.address %></div>
                    </div> <br>
                    <div>
                        <div class="text-danger">Description</div>
                        <div><%= property.description %></div>                  
                    </div> 
                    <br>
                    <div class="uk-child-width-1-4@s uk-child-width-1-2" uk-grid>
                        <div>
                            <div class="text-danger">Locality</div>
                            <div><%= property.locality %></div>
                        </div>
                        <div>
                            <div class="text-danger">Property Type</div>
                            <div><%= property.propertyType %></div>
                        </div>
                        <div>
                            <div class="text-danger">Landmarks</div>
                            <div><%= property.landmarks %></div>
                        </div>
                        <div>
                            <div class="text-danger">Flats on floor</div>
                            <div><%= property.propertyFeatures.flatsOnFloor %></div>
                        </div>
                        <div>
                            <div class="text-danger">Landmarks</div>
                            <div><%= property.propertyFeatures.carpetArea %></div>
                        </div>
                        <div>
                            <div class="text-danger">Type</div>
                            <div><%= property.Type %></div>
                        </div>
                        <div>
                            <div class="text-danger">Ownership</div>
                            <div><%= property.ownershipAndApproval.ownershipStatus %></div>
                        </div>
                    </div> <br>
                    <div class="uk-child-width-1-3@s" uk-grid>
                        <div> 
                            <div class="text-danger">Flooring</div>
                            <div>
                                <% property.flooring.forEach(ele => { %>
                                    <ul class="m-0">
                                        <li>
                                            <%= ele %> 
                                        </li>
                                    </ul>
                                <% }) %> 
                            </div>                  
                        </div>
                        <div>
                            <div class="text-danger">Amenities</div>
                            <div>
                                <% property.amenities.forEach(ele => { %>
                                    <ul class="m-0">
                                        <li>
                                            <%= ele %> 
                                        </li>
                                    </ul>
                                <% }) %> 
                            </div>  
                        </div>
                        <div>
                            <div class="text-danger">Bedroom Area</div>
                            <div>
                                <ul class="m-0">
                                <% property.propertyFeatures.bedroomArea.map(ele => { %>
                                    <% if (ele.lenght && ele.breadth) { %> 
                                    <li>
                                        <%= (ele.lenght*ele.breadth)+" Sqft" %>
                                    </li>
                                    <% } else { %>
                                        <div>-</div>
                                    <% } %>  
                                <% }) %> 
                                </ul>
                            </div> 
                        </div>
                    </div>
                </div>  
                <br> <br>

                <div class="bg-white p-3 rounded-lg shadow-sm hammersmithOne">
                    <div class="h4 ">Area Details</div>
                    <hr class="mt-0">
                    <div class="uk-child-width-1-4@s uk-child-width-1-2" uk-grid>
                        <% if(property.propertyFeatures.superBuiltUpArea){ %>
                            <div>
                                <div>
                                    <div class="text-danger">Super BuiltUp Area</div>
                                    <div>
                                        <%= property.propertyFeatures.superBuiltUpArea %> sqft
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if(property.propertyFeatures.builtUpArea){ %>
                            <div>
                                <div>
                                    <div class="text-danger">BuiltUp Area</div>
                                    <div>
                                        <%= property.propertyFeatures.builtUpArea %> sqft
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <% if(property.propertyFeatures.carpetArea){ %>
                            <div>
                                <div>
                                    <div class="text-danger">Carpet Area</div>
                                    <div>
                                        <%= property.propertyFeatures.carpetArea %> sqft
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>

                <br>
                <div class="bg-white p-3 rounded-lg shadow-sm">
                    <div class="text- mb-4 hammersmithOne h5"><img width="25px" class="image-fluid" src="https://www.flaticon.com/svg/static/icons/svg/503/503849.svg" alt="">Features</div>
                    <div class="uk-child-width-1-4@s uk-child-width-1-2 hammersmithOne" uk-grid>
                        <% if (property.additionalFeatures.additonalRooms) { %>
                            <div>
                                <div class="text-danger">Additional Rooms</div>
                                <div><%= property.additionalFeatures.additonalRooms %></div>
                            </div>
                        <% } %> 
                        <% if (property.additionalFeatures.overlooking) { %>
                            <div>
                                <div class="text-danger">Overlooking</div>
                                <div><%= property.additionalFeatures.overlooking %></div>
                            </div>
                        <% } %>
                        <% if (property.additionalFeatures.unitQuantity) { %>
                            <div>
                                <div class="text-danger">Unit Quantity</div>
                                <div><%= property.additionalFeatures.unitQuantity %></div>
                            </div>
                        <% } %>
                        <% if (property.additionalFeatures.carParking) { %>
                        <% } %>
                        <div>
                            <div class="text-danger">Car Parking</div>
                            <div><%= property.additionalFeatures.carParking %></div>
                        </div>
                        <% if (property.additionalFeatures.liftsInTheTower) { %>
                            <div>
                                <div class="text-danger">Lifts</div>
                                <div><%= property.additionalFeatures.liftsInTheTower %></div>
                            </div>
                        <% } %>
                        <% if (property.additionalFeatures.multipleUnitsAvaliable) { %>
                            <div>
                                <div class="text-danger">Multiple Units Avaliable</div>
                                <% if (property.additionalFeatures.multipleUnitsAvaliable === true) { %> 
                                <div>Yes</div>
                                <% } else { %>
                                <div>No</div>
                                <% } %>  
                            </div>
                        <% } %>
                        <% if (property.statusOfWaterandElectric.avaliablityOfElectricity) { %>
                            <div>
                                <div class="text-danger">Availablity of Electricity</div>
                                <div>
                                    <%= property.statusOfWaterandElectric.avaliablityOfElectricity %>
                                </div>
                            </div>
                            <% } %>
                        <% if (property.statusOfWaterandElectric.avaliablityOfWater) { %>
                            <div>
                                <div class="text-danger">Availablity of Water</div>
                                <div><%= property.statusOfWaterandElectric.avaliablityOfWater %></div>
                            </div>
                        <% } %> 
                    </div>
                </div>
                <br> <br>

                <% if(property.propertyFeatures.furnitures != 0) { %> 
                <div class="bg-white p-3 rounded-lg shadow-sm">
                    <div class="text- mb-4 hammersmithOne h5"><img width="30px" class="image-fluid" src="https://www.flaticon.com/svg/static/icons/svg/642/642307.svg" alt="">Furnishing</div>
                    <div>
                        <div class="uk-child-width-1-6@m uk-child-width-1-3 hammersmithOne" uk-grid>
                            <% property.propertyFeatures.furnitures.map(ele => { %>
                            <div>
                                <div class="text-danger"><%= ele.Type %></div>
                                <% if (ele.Quantity != null) { %> 
                                    <div><%= ele.Quantity %></div>   
                                <% } else { %> 
                                    <div>Available</div>
                                <% } %> 
                            </div>
                            <% }) %> 
                        </div>
                    </div>
                </div>
                <br> <br>
                <% } %> 

                <div class="bg-white p-3 rounded-lg shadow-sm">
                    <div class="text- mb-4 hammersmithOne h5"><img width="25px" class="image-fluid" src="https://www.flaticon.com/svg/static/icons/svg/60/60484.svg" alt=""> Price Details</div>
                    <div class="uk-child-width-1-4@s uk-child-width-1-2  hammersmithOne" uk-grid>
                        <% if (property.priceDetails.priceIncludes != 0) { %> 
                        <div>
                            <div class="text-danger">Price Includes</div>
                            <div><%= property.priceDetails.priceIncludes %></div>
                        </div>
                        <% } %> 
                        <div>
                            <% if (property.priceDetails.expectedPrice) { %>
                                <div class="text-danger">Expected Price</div>
                                <div>₹ <%= property.priceDetails.expectedPrice %></div>
                            <% } else if (property.priceDetails.expectedRent) { %>
                                <div class="text-danger">Expected Rent</div>
                                <div>₹ <%= property.priceDetails.expectedRent %></div>
                            <% } %>
                        </div>
                        <div>
                            <% if (property.priceDetails.bookingAmount) { %>
                            <div class="text-danger">Booking Amount</div>
                            <div>₹ <%= property.priceDetails.bookingAmount %></div>
                            <% } else if (property.priceDetails.securityDeposit) { %>
                            <div class="text-danger">Security Deposit</div>
                            <div>₹ <%= property.priceDetails.securityDeposit %></div>
                            <% } %>
                        </div>
                        <% if (property.priceDetails.transactionType) { %>
                        <div> 
                            <div class="text-danger">Transaction Type</div>
                            <div><%= property.priceDetails.transactionType %></div>
                        </div>
                        <% } %>
                        <div>
                            <% if (property.priceDetails.saleBrokerage) { %>
                                <div class="text-danger">Sales Brokerage</div>
                                <div><%= property.priceDetails.saleBrokerage %></div>
                            <% } else if (property.priceDetails.rentBrokerage) { %>
                                <div class="text-danger">Rent Brokage</div>
                                <div>₹ <%= property.priceDetails.rentBrokerage %></div>
                                <% } %>
                        </div>
                        <% if (property.priceDetails.ageOfConstruction) { %>
                        <div>
                            <div class="text-danger">Age of Construction</div>
                            <div><%= property.priceDetails.ageOfConstruction %></div>
                        </div>
                        <% } %>
                        <div>
                            <div class="text-danger">Maintanince Charge</div>
                            <div>₹ <%= property.priceDetails.maintaninceCharge %></div>
                        </div>
                        <div>
                            <div class="text-danger">Maintanince Charge Type</div>
                            <div><%= property.priceDetails.maintaninceChargeType %></div>
                        </div>
                        <div>
                            <div class="text-danger">Stamp Duty Charges</div>
                            <% if(property.priceDetails.stampDutyCharges){%>
                            <div>Included</div>
                            <%}%>
                            <% if(!property.priceDetails.stampDutyCharges){%>
                                <div>Not Included</div>
                            <%}%>
                        </div>
                    </div> 
                </div>
                <br>
            </div>
        </div>
    </div>
</section>

<!-- Similar Properties -->
<section class="mt-5 mb-5 p-3">
    <div class="container-fluid">
        <h3 class="text-center hammersmithOne">Similar Properties</h3> 
        <div class="uk-slider-container-offset" uk-slider="finite: true">
    
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
        
                <ul class="uk-slider-items uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-grid text-dark">
                    <% similar.forEach(ele => { %> 
                    <li>
                        <div class="card h-100 shadow uk-transition-toggle" tabindex="0">
                          <div class="overflow-hidden h-50">
                            <% ele.Images.images.forEach((img)=> { %> 
                                <% if (img.includes("CoverImages")) { %> 
                                <img src="<%= img %>" class="card-img-top uk-transition-scale-up uk-transition-opaque h-100" alt="...">
                                <% } %> 
                            <% }) %> 
                          </div>
                          <div class="h-50">
                            <div class="card-body">
                              <a href="/property?type=<%=ele.Type%>&id=<%=ele._id%>" class="card-title text-danger h6 hammersmithOne"><%= ele.propertyType %> For <%= ele.propertyFor %> at <%= ele.name %>,<%= ele.locality %></a>
                              <p class="card-text">
                                <div class="uk-child-width-auto" uk-grid>
                                  <div>
                                    <% if(ele.priceDetails.possessionStatus){%>
                                        Status: <span class="hammersmithOne"><%= ele.priceDetails.possessionStatus %></span> 
                                        <% }else{%>
                                        Status: <span class="hammersmithOne">Ready to move</span> 
                                        <%}%>
                                  </div>
                                  <div class="m-0">
                                    Furnishing: <span class="hammersmithOne"><%= ele.propertyFeatures.furnishingStatus %></span>
                                  </div>
                                </div>
                              </p>
                              <p class="card-text">
                                <% if (ele.priceDetails.expectedPrice) { %> 
                                   <span class="bg-success p-2 shadow rounded-pill text-white hammersmithOne">₹ <%= ele.priceDetails.expectedPrice %></span>
                                <% } %> 
                                <% if (ele.priceDetails.expectedRent) { %> 
                                    <span class="bg-success p-2 shadow rounded-pill text-white hammersmithOne">₹ <%= ele.priceDetails.expectedRent %></span>
                                <% } %> 
                                </p>
                            </div>
                            <div class="card-footer bg-white text-center">
                              <div class="uk-child-width-1-3 small" uk-grid>
                                <div class="hammersmithOne"><%= ele.propertyFeatures.bedrooms %> Bed</div>
                                <div class="hammersmithOne"><%= ele.propertyFeatures.bathroom %> Bath</div>
                                <div class="hammersmithOne"><%= ele.propertyFeatures.carpetArea %> Sqft</div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </li>
                    <% }) %>
                    <li>
                        <div class="d-flex justify-content-center align-items-center h-100 bg-light">
                            <a href="/search?propertyfor=<%=property.propertyFor%>&propertytype=<%=property.propertyType%>">
                                <div class="text-danger">view more <span uk-icon="icon: arrow-right"></span></div>
                            </a>
                        </div>
                    </li>
                </ul>
                    
                <a class="uk-position-center-left uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
            </div>
        
            <!-- <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul> -->
        
        </div>
    </div>
</section>

<!-- More Properties -->
<section class="mt-5 mb-5 p-3">
    <div class="container-fluid">
        <h3 class="text-center hammersmithOne">More properties from <%= property.locality %></h3> 

        <div class="uk-slider-container-offset" uk-slider="finite: true">
    
            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
        
                <ul class="uk-slider-items uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s uk-grid text-dark">
                    <% nearby.forEach(ele => { %> 
                    <li>
                        <div class="card h-100 shadow uk-transition-toggle" tabindex="0">
                          <div class="overflow-hidden h-50">
                            <% ele.Images.images.forEach((img)=> { %> 
                                <% if (img.includes("CoverImages")) { %> 
                                <img src="<%= img %>" class="card-img-top uk-transition-scale-up uk-transition-opaque h-100" alt="...">
                                <% } %> 
                            <% }) %> 
                          </div>
                          <div class="h-50">
                            <div class="card-body">
                              <a href="/property?type=<%=ele.Type%>&id=<%=ele._id%>" class="card-title text-danger h6 hammersmithOne"><%= ele.propertyType %> For <%= ele.propertyFor %> at <%= ele.name %>,<%= ele.locality %></a>
                              <p class="card-text">
                                <div class="uk-child-width-auto" uk-grid>
                                  <div>
                                      <% if(ele.priceDetails.possessionStatus){%>
                                    Status: <span class="hammersmithOne"><%= ele.priceDetails.possessionStatus %></span> 
                                    <% }else{%>
                                    Status: <span class="hammersmithOne">Ready to move</span> 
                                    <%}%>
                                  </div>
                                  <div class="m-0">
                                    Furnishing: <span class="hammersmithOne"><%= ele.propertyFeatures.furnishingStatus %></span>
                                  </div>
                                </div>
                              </p>
                              <p class="card-text">
                                <% if (ele.priceDetails.expectedPrice) { %> 
                                   <span class="bg-success p-2 shadow rounded-pill text-white hammersmithOne">₹ <%= ele.priceDetails.expectedPrice %></span>
                                <% } %> 
                                <% if (ele.priceDetails.expectedRent) { %> 
                                    <span class="bg-success p-2 shadow rounded-pill text-white hammersmithOne">₹ <%= ele.priceDetails.expectedRent %></span>
                                <% } %> 
                                </p>
                            </div>
                            <div class="card-footer bg-white text-center">
                              <div class="uk-child-width-1-3 small" uk-grid>
                                <div class="hammersmithOne"><%= ele.propertyFeatures.bedrooms %> Bed</div>
                                <div class="hammersmithOne"><%= ele.propertyFeatures.bathroom %> Bath</div>
                                <div class="hammersmithOne"><%= ele.propertyFeatures.carpetArea %> Sqft</div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </li>
                    <% }) %>
                    <li>
                        <div class="d-flex justify-content-center align-items-center h-100 bg-light">
                            <a href="/search?locality=<%=property.locality%>">
                                <div class="text-danger">view more <span uk-icon="icon: arrow-right"></span></div>
                            </a>
                        </div>
                    </li>
                </ul>
                    
                <a class="uk-position-center-left uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small text-light bg-dark rounded-circle uk-visible@s" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
            </div>
        
            <!-- <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul> -->
        
        </div>
    </div>
</section>

<%- include('./layouts/Footer') %> 
